@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  background-color: #FFFFFF;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-all {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .container-all {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    display: flex;
  }
  .container-all {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container-all {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}

.backdorp {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 40px;
}

.modal-form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
  height: 40px;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 42px;
}

.modal-form-label-svg {
  display: flex;
  height: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.modal-form-input:not(:placeholder-shown) {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.modal-form-message {
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 28px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.modal-form-message:not(:placeholder-shown) {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translate(-25px, -38px);
  color: #2196F3;
  font-size: 12px;
  line-height: 0.86;
}

.modal-form-input:focus + .modal-form-label-svg {
  fill: #2196F3;
  color: #2196F3;
}

.modal-form-message-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 5px;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus::placeholder {
  color: #2196F3;
}

.modal-form-option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-form-option-span {
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-option-span a {
  color: #2196F3;
}

.modal-form-checkbox {
  margin-right: 8px;
}

.modal-form-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-svg {
  width: 18px;
  height: 18px;
  margin-left: 15px;
  transform: translateY(-28px);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-label + .modal-form-svg {
  fill: #2196F3;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: #FFFFFF;
  border: 2px solid #212121;
  margin-right: 8px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background: #2196F3;
  border-radius: 2px;
  border: 2px solid #2196F3;
  background-image: url(../Images/Форма/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.modal-close-btn:hover {
  fill: #2196F3;
}

.modal-close-btn-svg {
  width: 18px;
  height: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 450px;
    height: 609px;
  }
  .modal-form-title {
    line-height: 1.5;
  }
  .modal-form-option-span {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
    height: 581px;
  }
  .modal-form-title {
    line-height: 1.15;
  }
  .modal-form-option-span {
    font-size: 14px;
    line-height: 1.714;
  }
}

/* .backdorp {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.2);
 z-index: 100;
}

.modal-form {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 528px;
 height: 581px; 
 background-color: #FFFFFF;  
 padding: 40px;
}

.modal-form-title {
 font-family: $main-font;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 letter-spacing: 0.03em;
 color: #212121;
 margin-bottom: 30px;
}

.modal-form-input-wrapper {
 position: relative;
 margin-bottom: 28px;
 height: 40px;
}

.modal-form-label {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 font-family: $main-font;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 0.88;
 letter-spacing: 0.01em;
 color: #757575;
 margin-left: 42px;
}

.modal-form-label-svg {
 display: flex;
 height: 0;
 transition-property: fill;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input{
 color: #757575;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 display: block;
 width: 100%;
 height: 40px;
 padding-left: 42px;
 transition-property: border;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-colour;
    fill: $accent-colour;
   }
  &:not(:placeholder-shown) {
    border: 1px solid $accent-colour;
    fill: $accent-colour;
  } 
}

.modal-form-message {    
 color: #757575;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 height: 120px;    
 margin-bottom: 28px;
 resize: none;
 padding-left: 16px;
 padding-top: 12px;
 transition-property: border;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-colour;
    fill: $accent-colour;
   }

  &:not(:placeholder-shown) {
    border: 1px solid $accent-colour;
    fill: $accent-colour;
  } 
}

.modal-form-input:focus+.modal-form-label,
.modal-form-input:not(:placeholder-shown)+.modal-form-label {
 transform: translate(-25px,-38px);
 color: $accent-colour;
 font-size: 12px;
 line-height: 0.86;
}

.modal-form-input:focus+.modal-form-label-svg {
 fill: $accent-colour;
 color: $accent-colour;
}

.modal-form-message-title {
 font-family: $main-font;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
 color: #757575;
 margin-bottom: 5px;
}

.modal-form-message::placeholder {
 color: rgba(117, 117, 117, 0.5);
 transition-property: color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus::placeholder {
 color: $accent-colour;
}

.modal-form-option-label {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 30px;
}

.modal-form-option-span {
 font-size: 14px;
 line-height: 24px;
 letter-spacing: 0.03em;
 color: #757575;
}

.modal-form-option-span a {
 color: $accent-colour;
}

.modal-form-checkbox {
 margin-right: 8px;
}

.modal-form-btn {
 font-family: $main-font;
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.06em;
 color: #FFFFFF;
 background: #2196F3;
 border: 0;
 border-radius: 4px;
 width: 200px;
 height: 50px;
 cursor: pointer;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.modal-form-svg {
 width: 18px;
 height: 18px;
 margin-left: 15px;
 transform: translateY(-28px);
 transition-property: fill;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-label+.modal-form-svg {
 fill: $accent-colour;
}

.modal-form-checkbox {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.modal-form-custom-checkbox {
 display: inline-block;
 width: 16px;
 height: 15px;
 background: #FFFFFF;
 border: 2px solid #212121;
 margin-right: 8px;
 transition-property: background;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked+.modal-form-custom-checkbox {
 background: $accent-colour;
 border-radius: 2px;
 border: 2px solid $accent-colour;
 background-image: url(../Images/Форма/icon-check.svg);
 background-size: contain;
 background-origin: border-box;
 transition-property: background;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;

  &:hover {
    fill: $accent-colour;
   }
}

.modal-close-btn-svg {
 width: 18px;
 height: 18px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}



.is-hidden {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
 transform: translateY(100%);
} */
.header {
  padding-top: 15px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: baseline;
}

.header-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

.web {
  color: #2196F3;
}

.navigation-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196F3;
}

.link-studio::after {
  content: "";
  width: 65px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active-list-item-color {
  color: #2196F3;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-mail:hover, .navigation-mail:focus {
  color: #2196F3;
}

.navigation-mail:hover .address-link-svg, .navigation-mail:focus .address-link-svg {
  fill: #2196F3;
  color: #2196F3;
}

.navigation-tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-tel:hover, .navigation-tel:focus {
  color: #2196F3;
}

.navigation-tel:hover .address-link-svg, .navigation-tel:focus .address-link-svg {
  fill: #2196F3;
  color: #2196F3;
}

.address-link-svg {
  width: 16px;
  height: 11px;
  fill: #757575;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .navigation-mail {
    display: block;
  }
  .header-container {
    justify-content: space-between;
  }
  .menu-btn {
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-burger {
    display: none;
  }
  .icon-close {
    display: none;
  }
  .menu-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    right: 0;
    height: 453px;
    padding-top: 60px;
    padding-bottom: 178px;
    padding-left: 140px;
    padding-right: 140px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    border-top: 1px solid #ECECEC;
    transform: translateY(-100%);
  }
  .menu-wrapper.is-open {
    display: block;
    transform: translateY(0);
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-studio::after {
    content: "";
    margin-top: 8px;
  }
  .navigation-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-mail {
    margin-top: 60px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .menu-btn:hover, .menu-btn:focus {
    fill: #2196f3;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .header-link {
    margin-right: 78px;
  }
  .menu-btn {
    display: none;
  }
  .menu-wrapper {
    display: flex;
  }
  .link-studio::after {
    content: "";
    margin-top: 28px;
  }
  .navigation {
    margin-right: 84px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-link {
    font-size: 14px;
    line-height: 1.14;
  }
  .link-studio::after {
    content: "";
    width: 48px;
  }
  .navigation-item {
    display: block;
    padding-top: 32px;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-utils {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navigation-mail {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 10px;
  }
  .navigation-tel {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header-link {
    font-size: 26px;
    line-height: 1.19;
  }
  /* .navigation {
        display: flex;
        align-items: center;
    } */
  /* .navigation-list {
        display: flex;
    } */
  .navigation {
    margin-right: 305px;
  }
  .navigation-item {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link:hover, .navigation-link:focus {
    color: #2196F3;
  }
  .header-utils {
    padding-top: 32px;
    padding-bottom: 12px;
  }
  .address-link {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-mail:hover, .navigation-mail:focus {
    color: #2196F3;
  }
  .navigation-mail:hover .address-link-svg, .navigation-mail:focus .address-link-svg {
    fill: #2196F3;
    color: #2196F3;
  }
  .navigation-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-tel:hover, .navigation-tel:focus {
    color: #2196F3;
  }
  .navigation-tel:hover .address-link-svg, .navigation-tel:focus .address-link-svg {
    fill: #2196F3;
    color: #2196F3;
  }
  .navigation-mail {
    margin-right: 30px;
  }
  .address-link-svg {
    width: 16px;
    height: 15px;
    fill: #757575;
    vertical-align: middle;
  }
  /* .header .container {
       align-items: center;
       justify-content: space-between;
    } */
  .link-studio::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
  }
  .active-list-item-color {
    color: #2196F3;
  }
}

.section-title {
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .section-title {
    width: 480px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../Images/Заголовок/468/Header-468.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../Images/Заголовок/468/Header-468@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 26px;
    line-height: 1.615;
    padding-top: 118px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 768px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../Images/Заголовок/768/Header-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../Images/Заголовок/768/Header-768@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 26px;
    line-height: 1.615;
    padding-top: 118px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../Images/Заголовок/1200/Header-1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../Images/Заголовок/1200/Header-1200@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .heading {
    font-size: 44px;
    line-height: 1.37;
    padding-top: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.feature-link {
  background-color: #F5F4FA;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.feature-link-svg {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.subheading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .section-feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .feature:not(:last-child) {
    margin-bottom: 30px;
  }
  .subheading {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .containaer-link-feature {
    display: flex;
    flex-wrap: wrap;
  }
  .feature {
    width: 354px;
  }
  .feature:nth-child(2n+1) {
    margin-right: 30px;
  }
  .feature:nth-child(-n+12) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-feature {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .feature {
    width: 270px;
  }
  .feature:not(:last-child) {
    margin-right: 30px;
  }
  .feature-link {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .section-what-doing {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-what-doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-what-doing {
    display: flex;
    width: 1200px;
    padding-top: 47px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
  .head {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .what-doing {
    margin-bottom: 50px;
  }
  .what-doing-list {
    display: flex;
    height: 294px;
  }
  .doing-list {
    position: relative;
  }
  .doing-list:not(:last-child) {
    margin-right: 30px;
  }
  .doing-list-img {
    display: block;
  }
  .desc {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0px;
    padding: 27px 27px;
  }
}

.section-theme {
  background: #F5F4FA;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-link-list {
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.team-link-list:hover, .team-link-list:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.team-img {
  display: block;
  margin-bottom: 30px;
}

.team-names {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.team-names-prof {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-link:hover .social-link-svg, .social-link:focus .social-link-svg {
  fill: #FFFFFF;
}

.social-link-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

@media screen and (min-width: 480px) {
  .head {
    font-size: 28px;
    line-height: 1.178;
  }
  .head-team {
    margin-bottom: 30px;
  }
  .team-link-list {
    margin-bottom: 30px;
  }
  .team-img {
    width: 100%;
    height: 320px;
    display: block;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .head {
    font-size: 28px;
    line-height: 1.178;
  }
  .head-team {
    margin-bottom: 30px;
  }
  .team-img {
    width: 354px;
    height: 260px;
  }
  .team-link {
    display: flex;
    flex-wrap: wrap;
  }
  .team-link-list {
    margin-bottom: 30px;
  }
  .team-link-list:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .head {
    font-size: 36px;
    line-height: 1.17;
  }
  .head-team {
    margin-bottom: 50px;
  }
  .team-img {
    width: 270px;
    height: 260px;
  }
  .team-link {
    display: flex;
  }
  .team-link-list {
    width: 270px;
  }
  .team-link-list:not(:last-child) {
    margin-right: 30px;
  }
}

.head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.head-client {
  text-align: center;
}

.client-list {
  display: flex;
}

.client-item {
  display: flex;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover, .client-item:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.client-img {
  display: block;
}

@media screen and (max-width: 767px) {
  .client-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .client-list-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .client-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .section-client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .head {
    font-size: 28px;
  }
  .head-client {
    margin-bottom: 30px;
  }
  .client-list {
    flex-wrap: wrap;
    align-items: center;
  }
  .client-item {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .section-client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .head {
    font-size: 28px;
  }
  .head-client {
    margin-bottom: 30px;
  }
  .client-list {
    flex-wrap: wrap;
  }
  .client-list-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .client-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .section-client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .head {
    font-size: 36px;
  }
  .head-client {
    margin-bottom: 50px;
  }
  .client-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .client-item {
    width: 170px;
  }
}

.footer-them-color {
  background-color: #2F303A;
}

.section-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer .header-link {
  margin-right: 0px;
}

.footer-text {
  color: #ffffff;
}

.footer-text-item {
  text-transform: uppercase;
}

.footer-logo {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.navigation-mail-footer,
.navigation-tel-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-mail-footer:hover, .navigation-mail-footer:focus,
.navigation-tel-footer:hover,
.navigation-tel-footer:focus {
  color: #2196F3;
}

.footer-social-link {
  display: flex;
}

.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-email {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  display: block;
  padding-left: 10px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.button-form {
  display: flex;
  padding-left: 29px;
}

.navigation-link-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .container-footer {
    text-align: center;
  }
  .footer.container-all {
    text-align: center;
  }
  .footer-link {
    margin-right: 0px;
  }
  .footer-link:not(:last-child) {
    display: block;
    margin-bottom: 8px;
  }
  .footer-links {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .section-footer {
    display: block;
  }
  .for-tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .footer-logo {
    display: block;
  }
  .footer-social-link {
    justify-content: center;
    margin-top: 20px;
  }
  .social-link-svg-footer {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
  }
  .mailing-form {
    display: block;
  }
  .user-email {
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .for-tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
  }
  .container-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-footer {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-address-and-link {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer.container-all {
    text-align: center;
  }
  .footer-link {
    margin-right: 0px;
  }
  .footer-link:not(:last-child) {
    display: block;
    margin-bottom: 8px;
  }
  .social-link-svg-footer {
    fill: #FFFFFF;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer {
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-address {
    margin-right: 69px;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
  }
  .header-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 1.16;
    color: #000000;
    margin-right: 85px;
  }
  .footer-logo {
    display: flex;
    color: #FFFFFF;
  }
  .footer-address-section {
    width: 231px;
  }
  .footer-links {
    margin-right: 94px;
  }
  .footer-social-link {
    justify-content: flex-start;
  }
  .social-link-footer:hover, .social-link-footer:focus {
    background-color: #2196F3;
    color: #FFFFFF;
  }
  .social-link-footer:hover .social-link-svg-footer, .social-link-footer:focus .social-link-svg-footer {
    fill: #FFFFFF;
  }
  .footer.address.navigation-link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-text-item {
    display: flex;
    margin-bottom: 20px;
  }
  .navigation-mail-footer,
  .navigation-tel-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-mail-footer:hover, .navigation-mail-footer:focus,
  .navigation-tel-footer:hover,
  .navigation-tel-footer:focus {
    color: #2196F3;
  }
  .navigation-mail-footer {
    margin-right: 30px;
  }
  .mailing-form {
    display: flex;
    align-items: baseline;
  }
  .user-email {
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2779px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    display: block;
    padding-left: 10px;
    margin-right: 12px;
  }
  .user-email:focus {
    outline: none;
  }
  .user-email:focus:required:valid:not(:placeholder-shown) {
    border: 1px solid green;
  }
  .user-email:focus:required:invalid:not(:placeholder-shown) {
    border: 1px solid red;
  }
}
/*# sourceMappingURL=main.css.map */