.footer-them-color {
  background-color: $footer-them-color;
}

.section-footer {
  display: flex;  
  padding-top: 60px;
  padding-bottom: 60px;
 
  .header-link {
    margin-right: 0px;
  }
}
 
.footer-text {
  color: $footer-text-color;    
}
 
.footer-text-item {
  text-transform: uppercase;
}

.footer-logo {
  margin-bottom: 20px;  
  color: #FFFFFF;
}

.navigation-mail-footer,
.navigation-tel-footer{
 font-weight: 500;
 font-size: 14px;
 line-height: 1.714;
 letter-spacing: 0.03em;
 color: #757575;  
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
  &:hover,
  &:focus {
    color: $accent-colour;
  }    
}

.footer-social-link {
  display: flex;
}

.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;  
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-email{  
  height: 50px;  
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  display: block; 
  padding-left: 10px;
  
}

.button {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: $accent-colour;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  cursor: pointer;  
  margin-left: auto;
  margin-right: auto;
}

.button-form {
  display: flex;
  padding-left: 29px;
}

.navigation-link-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #FFFFFF;  
}




@media screen and (max-width: 767px) {
  .container-footer {
    text-align: center;
  }
  
  .footer.container-all {
    text-align: center;
  }
  
  .footer-link {
    margin-right: 0px;
   
     &:not(:last-child) {
      display: block;
      margin-bottom: 8px;
    }
  }

  .footer-links {    
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section-footer {
    display: block;
  }

  .for-tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .footer-logo {    
    display: block;    
  } 
  
  .footer-social-link {
    justify-content: center;
    margin-top: 20px;
  }

  .social-link-svg-footer {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
  }

  .mailing-form {
    display: block;
  }

  .user-email {
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .for-tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
  }
  
  .container-footer {
    text-align: center;
  }

}

@media screen and (min-width: 768px) {  
  .section-footer {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .footer-address-and-link {
    display: flex;    
    align-items: baseline;
    justify-content: space-around;
  }


  .footer.container-all {
    text-align: center;
  } 
  
  .footer-link {
    margin-right: 0px;
   
     &:not(:last-child) {
      display: block;
      margin-bottom: 8px;
    }
  }

  .social-link-svg-footer {
    fill: #FFFFFF;
  }
}


@media screen and (min-width: 1200px) {
  .section-footer {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .footer-address {
    margin-right: 69px;
  }

  .container-footer {
    display: flex;
    align-items: baseline;
  }

  .header-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 1.16;
    color: #000000;
    margin-right: 85px;
  }

  .footer-logo {    
    display: flex;   
    color: #FFFFFF; 
  }

  .footer-address-section {
    width: 231px;
  }
  
  .footer-links {    
    margin-right: 94px;    
  }

  .footer-social-link {
    justify-content: flex-start;
  }

  .social-link-footer {    
   
     &:hover,
     &:focus {
       background-color: $accent-colour;
       color: #FFFFFF; 
   
       .social-link-svg-footer {
          fill: #FFFFFF;
        }
    }
  }

  .footer.address.navigation-link {
  padding-top: 0px;
  padding-bottom: 0px;
  }

  .footer-text-item {
    display: flex;
    margin-bottom: 20px;
  }

  .navigation-mail-footer,
  .navigation-tel-footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
     &:hover,
     &:focus {
      color: $accent-colour;
    }    
  }

  .navigation-mail-footer {
    margin-right: 30px;  
  }

  .mailing-form {
    display: flex;
    align-items: baseline;
  }

  .user-email{
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2779px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    display: block;  
    padding-left: 10px;
    margin-right: 12px;
   
     &:focus {
       outline: none;
    }
  }
   
   
  .user-email:focus:required:valid:not(:placeholder-shown) {
    border: 1px solid green;
  }
     
  .user-email:focus:required:invalid:not(:placeholder-shown) {
    border: 1px solid red;
  }
}