.section-title {    
    margin-left: auto;
    margin-right: auto;      
}

.heading {
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;    
}

.modal-btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: $accent-colour;
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;    
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .section-title {
        width: 480px;     
        height: 400px;   
        background-position: center;
        background-size: cover;
        background-clip: content-box; 
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url(/Images/Заголовок/468/Header-468.png);        
                
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
         .section-title {
            background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
             url(/Images/Заголовок/468/Header-468@2x.png);
        }
    }
    

    .heading {        
        font-size: 26px;
        line-height: 1.615;        
        padding-top: 118px;
        margin-top: 0px;
        margin-bottom: 30px;        
    }
}

@media screen and (min-width: 768px) {
    .section-title {
        width: 768px;            
        height: 400px;   
        background-position: center;
        background-size: cover;
        background-clip: content-box;   
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
            url(/Images/Заголовок/768/Header-768.png);          
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
         .section-title {
            background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
             url(/Images/Заголовок/768/Header-768@2x.png);
        }
    }

    .heading {        
        font-size: 26px;
        line-height: 1.615;        
        padding-top: 118px;
        margin-top: 0px;
        margin-bottom: 30px;        
    }
}

@media screen and (min-width: 1200px) {
    .section-title {
        width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;       
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
            url(/Images/Заголовок/1200/Header-1200.jpg); 
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
         .section-title {
            background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
            url(/Images/Заголовок/1200/Header-1200@2x.jpg);
        }
    }

    .heading {        
        font-size: 44px;
        line-height: 1.37;        
        padding-top: 200px;
        margin-top: 0px;
        margin-bottom: 20px;
    }       
}

