.header {        
    padding-top: 16px;
    padding-bottom: 16px;        
    width: 480px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    background-color: transparent;
    border: none;
}

.icon-close {
    display: none;
}

.menu-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
}

/* .navigation {
    display: flex;
    align-items: center;
}
    
.header-link{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 1.16;
    color: #000000;
    margin-right: 85px;
}
     
.navigation-list {
    display: flex;
}
    
.navigation-item {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
    
.navigation-item:not(:last-child) {
    margin-right: 50px;
}
 
.navigation-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #212121;   
    padding-top: 32px;   
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-colour;
    }    
}
            
.address-link {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.navigation-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: $accent-colour;
        .address-link-svg {
            fill: $accent-colour;
            color: $accent-colour;
        }    
    }      
}

.navigation-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #757575;   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: $accent-colour;
        .address-link-svg {
            fill: $accent-colour;
            color: $accent-colour;
           }
    }
              
}
        
.navigation-mail {
    margin-right: 30px;
}
    
.address-link-svg {
    width: 16px;
    height: 15px; 
    fill: #757575;
    vertical-align: middle;
}

.header .container {
    align-items: center;
    justify-content: space-between;
}

.web{
 color: $accent-colour;
}

.link-studio::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-colour;
    border-radius: 2px;
    display: block;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}
    
.active-list-item-color {
    color: $accent-colour;
}
 */