.section-theme {
  background: #F5F4FA;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.head {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;  
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-link-list {
  background-color: #FFFFFF;   
 
    &:hover,
    &:focus {
     box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12); 
  }
}

.team-img {
  display: block;
  margin-bottom: 30px;
}

.team-names {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.team-names-prof {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 24px;
}
 
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
   &:hover,
   &:focus {
     background-color: $accent-colour;
     color: #FFFFFF;    
     .social-link-svg {
       fill: #FFFFFF;
     }
  }  
}
 
.social-link-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;  
}

@media screen and (max-width: 767px) {
  .head {
    font-size: 28px;
    line-height: 1.178;
  }

  .head-team {
    margin-bottom: 30px;
  }

  .team-link-list {
    margin-bottom: 30px;
  }

  .team-img {
    width: 100%;
    height: 320px;    
    display: block;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .head {
    font-size: 28px;
    line-height: 1.178;
  }

  .head-team {
    margin-bottom: 30px;
  }

  .team-img {
    width: 354px;
    height: 260px;    
  }

  .team-link {
    display: flex;
    flex-wrap: wrap;
  }

  .team-link-list {
    margin-bottom: 30px;
  }

  .team-link-list:nth-child(2n+1) {
    margin-right: 30px;        
  }  
}

@media screen and (min-width: 1200px) {
  .head {    
    font-size: 36px;
    line-height: 1.17;    
  }

  .head-team {
    margin-bottom: 50px;
  }

  .team-img {
    width: 270px;
    height: 260px;    
  }

  .team-link {
    display: flex;
    
  }

  .team-link-list {    
    width: 270px; 
    &:not(:last-child) {
      margin-right: 30px;
    }   
  }

   

}

/* 




 */
