.backdorp {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
 
.modal-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;  
  padding: 40px;
}

.modal-form-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;  
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #212121;  
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
  height: 40px;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 42px;
}

.modal-form-label-svg {
  display: flex;
  height: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input{
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
  &:focus {
     outline: none;
     border: 1px solid $accent-colour;
     fill: $accent-colour;
  }
  &:not(:placeholder-shown) {
     border: 1px solid $accent-colour;
     fill: $accent-colour;
  } 
}

.modal-form-message {    
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;    
  margin-bottom: 28px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
  &:focus {
     outline: none;
     border: 1px solid $accent-colour;
     fill: $accent-colour;
  }
 
  &:not(:placeholder-shown) {
     border: 1px solid $accent-colour;
     fill: $accent-colour;
  } 
}
 
.modal-form-input:focus+.modal-form-label,
.modal-form-input:not(:placeholder-shown)+.modal-form-label {
  transform: translate(-25px,-38px);
  color: $accent-colour;
  font-size: 12px;
  line-height: 0.86;
}
 
.modal-form-input:focus+.modal-form-label-svg {
  fill: $accent-colour;
  color: $accent-colour;
}

.modal-form-message-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 5px;
}
 
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-form-message:focus::placeholder {
  color: $accent-colour;
}

.modal-form-option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-form-option-span {  
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-option-span a {
  color: $accent-colour;
}

.modal-form-checkbox {
  margin-right: 8px;
}

.modal-form-btn {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-svg {
  width: 18px;
  height: 18px;
  margin-left: 15px;
  transform: translateY(-28px);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-form-input:focus+.modal-form-label+.modal-form-svg {
  fill: $accent-colour;
}
 
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
 
.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: #FFFFFF;
  border: 2px solid #212121;
  margin-right: 8px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-form-checkbox:checked+.modal-form-custom-checkbox {
  background: $accent-colour;
  border-radius: 2px;
  border: 2px solid $accent-colour;
  background-image: url(../Images/Форма/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-close-btn {
   position: absolute;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid rgba(33, 33, 33, 0.2);
   cursor: pointer;
 
   &:hover {
     fill: $accent-colour;
  }
}
 
.modal-close-btn-svg {
  width: 18px;
  height: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
 
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
}


@media screen and (min-width: 480px) {   
  .modal-form {    
    width: 450px;
    height: 609px;     
  }

  .modal-form-title {    
    line-height: 1.5;    
  }  
   
  .modal-form-option-span {
    font-size: 12px;
    line-height: 1.166;    
  }  
} 

@media screen and (min-width: 1200px) { 
  .modal-form {    
    width: 528px;
    height: 581px;    
  }  
  
  .modal-form-title {   
    line-height: 1.15;    
  }

  .modal-form-option-span {
    font-size: 14px;
    line-height: 1.714;    
  }
}

/* .backdorp {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.2);
 z-index: 100;
}

.modal-form {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 528px;
 height: 581px; 
 background-color: #FFFFFF;  
 padding: 40px;
}

.modal-form-title {
 font-family: $main-font;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 letter-spacing: 0.03em;
 color: #212121;
 margin-bottom: 30px;
}

.modal-form-input-wrapper {
 position: relative;
 margin-bottom: 28px;
 height: 40px;
}

.modal-form-label {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 font-family: $main-font;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 0.88;
 letter-spacing: 0.01em;
 color: #757575;
 margin-left: 42px;
}

.modal-form-label-svg {
 display: flex;
 height: 0;
 transition-property: fill;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input{
 color: #757575;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 display: block;
 width: 100%;
 height: 40px;
 padding-left: 42px;
 transition-property: border;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-colour;
    fill: $accent-colour;
   }
  &:not(:placeholder-shown) {
    border: 1px solid $accent-colour;
    fill: $accent-colour;
  } 
}

.modal-form-message {    
 color: #757575;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 height: 120px;    
 margin-bottom: 28px;
 resize: none;
 padding-left: 16px;
 padding-top: 12px;
 transition-property: border;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-colour;
    fill: $accent-colour;
   }

  &:not(:placeholder-shown) {
    border: 1px solid $accent-colour;
    fill: $accent-colour;
  } 
}

.modal-form-input:focus+.modal-form-label,
.modal-form-input:not(:placeholder-shown)+.modal-form-label {
 transform: translate(-25px,-38px);
 color: $accent-colour;
 font-size: 12px;
 line-height: 0.86;
}

.modal-form-input:focus+.modal-form-label-svg {
 fill: $accent-colour;
 color: $accent-colour;
}

.modal-form-message-title {
 font-family: $main-font;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
 color: #757575;
 margin-bottom: 5px;
}

.modal-form-message::placeholder {
 color: rgba(117, 117, 117, 0.5);
 transition-property: color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus::placeholder {
 color: $accent-colour;
}

.modal-form-option-label {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 30px;
}

.modal-form-option-span {
 font-size: 14px;
 line-height: 24px;
 letter-spacing: 0.03em;
 color: #757575;
}

.modal-form-option-span a {
 color: $accent-colour;
}

.modal-form-checkbox {
 margin-right: 8px;
}

.modal-form-btn {
 font-family: $main-font;
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.06em;
 color: #FFFFFF;
 background: #2196F3;
 border: 0;
 border-radius: 4px;
 width: 200px;
 height: 50px;
 cursor: pointer;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.modal-form-svg {
 width: 18px;
 height: 18px;
 margin-left: 15px;
 transform: translateY(-28px);
 transition-property: fill;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-label+.modal-form-svg {
 fill: $accent-colour;
}

.modal-form-checkbox {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.modal-form-custom-checkbox {
 display: inline-block;
 width: 16px;
 height: 15px;
 background: #FFFFFF;
 border: 2px solid #212121;
 margin-right: 8px;
 transition-property: background;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked+.modal-form-custom-checkbox {
 background: $accent-colour;
 border-radius: 2px;
 border: 2px solid $accent-colour;
 background-image: url(../Images/Форма/icon-check.svg);
 background-size: contain;
 background-origin: border-box;
 transition-property: background;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;

  &:hover {
    fill: $accent-colour;
   }
}

.modal-close-btn-svg {
 width: 18px;
 height: 18px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}



.is-hidden {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
 transform: translateY(100%);
} */