.container {
    padding-left: 15px;
    padding-right: 15px;    
    
}

.container-all {    
    padding-left: 15px;
    padding-right: 15px;
    
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px; 
        margin: 0 auto;                           
    }

    .container-all {
        width: 480px; 
        margin: 0 auto;         
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;         
        display: flex;                         
    }

    .container-all {
        width: 768px;        
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;                    
    }

    .container-all {
        width: 1200px;        
    }
}