.container {
    padding-left: 15px;
    padding-right: 15px;    
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;   
        margin: 0 auto;     
        background-color: aqua;        
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;   
        background-color: red;                  
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;        
        display: flex;   
        background-color: chartreuse;    
    }
}





/* .container-all {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */